@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;500;700&family=Coda+Caption:wght@800&display=swap');

.menu-bar {
    height: 20px;
    width: 20px;
    padding-bottom: 20px;
    position: fixed;
    text-align: center;
    position: absolute;
    top: 20px;    
    left: 50%;
}

.nav-link {
    padding: 50px;
    color: #333;
    text-transform: uppercase;
    font-family: "Antonio", sans-serif;
    opacity: 0.8;
    font-size: 36px;
}

.nav-link:hover {
    text-decoration: none;
    opacity: 1;
    color: #81b214;
}
.logo {
padding: 30px;
}