@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;500;700&family=Coda+Caption:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

/* --------------------------------------------------Sections */
.white-section {
    background-color: #fff;
}

/* --------------------------------------------------Header */
#header {
    font-family: "Antonio", sans-serif;
    text-align: center;
}

.navbar-toggler {
    position: relative;
    left: 48%;
    border: transparent;
    padding: 3px;
}

.nav-link {
    padding: 40px 20px;
    color: #333;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 48px;
}

.nav-link:hover {
    text-decoration: none;
    opacity: 1;
    color: #81b214;
}

.logo {
    padding: 30px;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0;
}

/* --------------------------------------------------About */

.designer-image {
    width: 400px;
    height: 600px;
    padding-left: 30%;
    background: url("../images/Sara-Namdarian-Interior-Designer.jpg") no-repeat center center;
    animation-name: designer-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.designer-outer {
    width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
@keyframes designer-zoom { 
  from{
 transform: scale(1);
  }
  to{ 
    transform: scale(1.1);
  }
}


#about .container-fluid {
    padding: 7% 15%;
}

.big-heading {
    font-size: 58px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

P {
    font-weight: 200;
    line-height: 1.5;
    font-family: "roboto", sans-serif;
}

.quote-right {
    font-size: 56px;
    position: relative;
    left: 5%;
    top: 5%;
}

.quote-left {
    font-size: 56px;
    position: relative;
    left: 35%;
    top: 5%;
}

.initial {
    font-size: 64px;
}

/* --------------------------------------------------Footer */
#footer p {
    color: grey;
}

.social-networks li {
    display: inline;
}

.social-networks {
    padding-left: 0;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 2%;
    color: #333;
}

.social-networks i:hover {
    color: #81b214;
}

#footer .container-fluid {
    padding: 7% 15%;
    text-align: center;
}


@media (max-width: 540px) {
    .nav-link {
        font-size: 24px;
    }
}