@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;500;700&family=Coda+Caption:wght@800&display=swap');

.menu-bar, .navbar-toggler-icon {
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    top: 20px;    
    left: 50%;
}
.navbar-toggler-icon {
    height: 40px;
    width: 40px;
}

.nav-link {
    padding-top: 50px 20px 50px;
    color: #333;
    text-transform: uppercase;
    font-family: "Antonio", sans-serif;
    opacity: 0.8;
    font-size: 48px;
}

.nav-link:hover {
    text-decoration: none;
    opacity: 1;
    color: #81b214;
}
.logo {
padding: 30px;
font-family: "Antonio", sans-serif;
font-weight: 700;
font-size: 36px;
}